.nav {
    justify-content:center;
}
h1{
    text-align:center;
}
.persona{
    justify-content:center;
    text-align:center;
}
.affinity{
    text-align:center;
    justify-content: center;
}
h3{
    text-align:center;
}
.pictures{
    text-align:center;

}
.text {
    text-align:center;
    justify-content:center;
}
.results{
    text-align:center;
}
.prototype{
    text-align:center;
}